/* custom-datepicker.css */
.react-datepicker-wrapper .react-datepicker__input-container input {
    width: 100px; /* Set the desired width here */
  }

.react-datepicker-wrapper .react-datepicker__input-container input {
    font-family: "Ogg", serif;
  }


*,
*::before,
*::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  font-family:"IBM Plex Sans", sans-serif;

}
 
.wrapper{
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  grid-template-rows: repeat(2, 1fr); /* Two rows */
  gap: 20px; /* Adjust the gap between cards as needed */
  justify-content: center;
  align-items: center;
  height:fit-content;
  width:max-content;
}

  
.card{
  
  overflow:hidden;
  border-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  cursor:pointer; 
  transition:transform 200ms ease-in;

  &__image-container{
    height: 100%;
  }

  &__image{
    height: 150px; /* Set the desired height */
    width: 150px; /* Set the desired width */
    border-radius: 2rem;
    object-fit: cover;
  }

  &__title{
    padding:2rem;
  }

  &__description{
    padding:2rem;

  }

  &__btn{
    padding:1rem;
    font-family: "Ogg","serif";
    font-weight: bold;
    font-size: 1rem;
    margin:1rem;
    border:2px solid black;
    background:white;
    color:black;
    border-radius:2rem;
    transition: background 200ms ease-in, color 200ms ease-in;

  }

  &:hover {
    transform:scale(1.02);
  }
  
  &:hover &__btn {
    background:black;
    color:white;
  }
}

